{% extends 'main/base.html' %} {% block content %} {% load main_extras%}

<div>
    <div class="search">
        <form method="GET" class="form-group row search">
            <span>Name:</span>
            <div>
                {{filtered_game.form.name}}
            </div>
            <span>Rating:</span>
            <div>
                {{filtered_game.form.rating}}
            </div>
            <span class="ml-4">Genre:</span>
            <div>
                {{filtered_game.form.genre}}
            </div>
            <span>Platform:</span>
            <div>
                {{filtered_game.form.platforms}}
            </div>
            <input type="submit" value="Search" class="btn btn-success"/>
        </form>
    </div>
    <hr>
    <div>
        <div class="row row-cols-1 row-cols-md-3 g-3"
             style="margin-left: 10%; margin-right:10%; justify-content: center">
            {% for game in game_page_obj %}
            <div>
                <div class="card card_game_style ml-1 mr-1">
                    <img src="{{game.cover}}" width="220px"/>
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <p class="card-text">{{game.summary|truncatechars:"50"}}</p>
                        <a href="/game/{{game.id}}" class="btn btn-dark">Open</a>
                        {% if game.id == game.get_games.all.get.game.id%}
                        <a href="{% url 'delete' pk=game.id %}" class="btn btn-danger">UnMust</a>
                        {% else %}
                        <a href="{% url 'add_to_must' pk=game.id %}" class="btn btn-success">Must</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav
                aria-label="Page navigation example"
                style="margin-top: 5%; margin-bottom: 5%"
        >
            <ul class="pagination justify-content-center">
                {% if game_page_obj.has_previous %}
                <li class="page-item">
                    <a
                            class="page-link"
                            style="color: black"
                            href="{% my_url game_page_obj.previous_page_number 'page' request.GET.urlencode %}"
                    >Previous</a
                    >
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#" style="color: black"
                    >{{ game_page_obj.number }} of
                        {{game_page_obj.paginator.num_pages}}</a
                    >
                </li>
                {% if game_page_obj.has_next %}
                <li class="page-item">
                    <a
                            class="page-link"
                            style="color: black"
                            href="{% my_url game_page_obj.next_page_number 'page' request.GET.urlencode %}"
                    >Next</a
                    >
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
